language: node_js
node_js:
- "12.16.1"

install:
- npm install newman 

before_script:
- node --version
- npm --version
- node_modules/.bin/newman --version

script:
- node_modules/.bin/newman run tests/Husky_Project.postman_collection.json